@model PlacementApplicationNew.Model.Student
@{
    ViewData["Title"] = "Details";
    Layout = "AdminLayout";
}
<body class="bg-image" style="background-image: url('https://stijc.com/wp-content/uploads/2019/02/Technical-Background.jpg'); height: 100vh; ">
<h1 class="text-white">Details of student</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row text-white">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BranchName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BranchName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GraduationYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GraduationYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class10thMarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class10thMarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class12thMarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class12thMarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentCgpa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentCgpa)
        </dd>      
    </dl>
</div>
<div>
    
    <a asp-action="GetStudents">Back to List</a>
</div>
</body>