@model IEnumerable<PlacementApplicationNew.Model.Company>
@{
    ViewData["Title"] = "GetCompanies";
    Layout = "AdminLayout";
}

<body class="bg-image" style="background-image: url('https://stijc.com/wp-content/uploads/2019/02/Technical-Background.jpg'); height: 100vh; ">
    <h1 class="text-white">Companies</h1>
    <table class=" table table-bordered table-hover table-striped" style="background-color:white">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteCompany", new {  id=item.CompanyId  })
            </td>
        </tr>
}
    </tbody>
</table>
</body>