@model IEnumerable<PlacementApplicationNew.Model.Role>
@{
    ViewData["Title"] = "GetRoles";
    Layout = "AdminLayout";
}
<body class="bg-image" style="background-image: url('https://stijc.com/wp-content/uploads/2019/02/Technical-Background.jpg'); height: 100vh; ">
<h1 class="text-white">Roles</h1>
    <table class=" table table-bordered table-hover table-striped" style="background-color:white">
    <thead>
        <tr>
           @* <th>
                @Html.DisplayNameFor(model => model.RoleId)
            </th>
           *@ <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalaryPackage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CutoffPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfDrive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company.CompanyName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.RoleId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalaryPackage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CutoffPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfDrive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.CompanyName)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditRole", new {  id=item.RoleId  }) |
                @Html.ActionLink("Applied Students", "GetAppliedStudentsListByRole", new {  id=item.RoleId}) |
                @Html.ActionLink("Delete", "DeleteRole", new {  id=item.RoleId  })
            </td>
        </tr>
}
    </tbody>
</table>
</body>