@model IEnumerable<PlacementApplicationNew.Model.Student>

@{
    ViewData["Title"] = "GetStudents";
    Layout = "AdminLayout";
}
<body class="bg-image" style="background-image: url('https://stijc.com/wp-content/uploads/2019/02/Technical-Background.jpg'); height: 100vh; ">

<h1 class="text-white">Students</h1>
@*<div
  class="bg-image"
  style="
    background-image: url('https://tse3.mm.bing.net/th?id=OIP.BbUWqBUe4b_C0cNdcvcWewHaEK&pid=Api&P=0');
    height: 100vh;
  "
></div>*@
<table class="table table-bordered table-hover table-striped" style="background-color:white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FatherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BranchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GraduationYear)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Class10thMarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class12thMarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentCgpa)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FatherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GraduationYear)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Class10thMarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class12thMarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentCgpa)
            </td>*@
            
            <td>
               
                @Html.ActionLink("Details", "Details", new {  id=item.UserId }) |
                @Html.ActionLink("Delete", "DeleteStudent", new {  id=item.UserId  })
            </td>
        </tr>
}
    </tbody>
</table>
</body>