@model IEnumerable<PlacementApplicationNew.Model.Role>

@{
    ViewData["Title"] = "Role";
     Layout = "StudentLayout";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<body class="bg-image" style="background-image: url('https://img.freepik.com/free-vector/geometric-science-education-background-vector-gradient-blue-digital-remix_53876-125993.jpg?size=626&ext=jpg&ga=GA1.2.2108062385.1661356707'); height: 100%; background-repeat:no-repeat; background-size:cover,contain;">

<h1 style="text-align:center;" class="text-white">Welcome @ViewBag.StudentName !</h1>



    <table class="table table-bordered table-hover table-striped" style="background-color:white">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalaryPackage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CutoffPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfDrive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company.CompanyName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalaryPackage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CutoffPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfDrive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.CompanyName)
            </td>
            <td>  
                @Html.ActionLink("Details", "RoleDetails", new { id=item.RoleId  }) 
            </td>
        </tr>
}
    </tbody>
</table>
    @if (TempData["Message"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                toastr.success('@TempData["Message"]', '', { positionClass: 'toast-bottom-full-width' });

            });
        </script>
    }
</body>